{% extends 'base.html' %}

{% block head %}
	<meta property="og:title" content="All plots"/>
	<meta property="og:description" content="All your plotly plots ready to share interactively."/>
	<meta property="og:site_name" content="PlotlyShare - private instance on deta space"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="{{ url_for('show_all', _external=True) }}"/>
	<script type="text/javascript" src="static/public/mainscript.js" defer></script>
	<script type="text/javascript" src="static/private/auth.js" defer></script>
{% endblock %}

{% block header %}
	<h1 class="text-center">{% block title %}All plots{% endblock %}</h1>
{% endblock %}

{% block header_class %}class="container-lg"{% endblock %}
{% block content %}
<div class="container d-flex flex-column align-items-center">
	<table class="table table-hover sortable">
		<thead>
			<th class="th-name">Name</th>
			<th class="no-sort text-center">Link</th>
			<th class="col-hide-small">ID</th>
			<th class="th-time">Time Created</th>
			<th class="no-sort text-center">Delete</th>
		</thead>
		<tbody>
			{% for item in meta %}
				<tr>
					<td>
						<div class="col-name-outer">
							<form action="{{ url_for('update_name', key=item) }}" method="post">
								<textarea contentEditable="plaintext-only" data-enable-grammarly="false" rows="1" name="name_holder" class="col-name form-control-plaintext" value="{{ meta[item].name }}">{{ meta[item].name }}</textarea>
								<button type="submit" class="btn btn-success custom-btn">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10 13.6l5.9-5.9q.275-.275.7-.275t.7.275q.275.275.275.7t-.275.7l-6.6 6.6q-.3.3-.7.3t-.7-.3l-2.6-2.6q-.275-.275-.275-.7t.275-.7q.275-.275.7-.275t.7.275z"/></svg>
								</button>
							</form>
						</div>
					</td>
					<td class="text-center"> <a class="btn btn-secondary custom-btn btn-pink" href="{{ url_for('show_plot', key=item) }}" role="button" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h14v-7h2v7q0 .825-.587 1.413T19 21zm4.7-5.3l-1.4-1.4L17.6 5H14V3h7v7h-2V6.4z"/></svg>
					</a> </td>
					<td class='col-hide-small'>{{ item }}</td>
					<td class='date-formattable'>
						<span class="d-none">{{ meta[item].time_created }}</span>
						<span class="col-hide-small"></span>
						<span></span>
					</td>
					<td class="text-center">
						<form action="{{ url_for('delete_plot', key=item, confirm='yes') }}" method="post">
							<button type="submit" class="btn btn-outline-danger custom-btn" onclick="return confirm('Are you sure?');">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6 22v-4.25q-.975-.425-1.713-1.137T3.037 15q-.512-.9-.775-1.925T2 11q0-3.95 2.8-6.475T12 2q4.4 0 7.2 2.525T22 11q0 1.05-.263 2.075T20.963 15q-.513.9-1.25 1.613T18 17.75V22H6Zm2-2h1v2h2v-2h2v2h2v-2h1v-3.55q.95-.225 1.688-.75t1.25-1.25q.512-.725.787-1.6T20 11q0-3.125-2.212-5.063T12 4Q8.425 4 6.212 5.938T4 11q0 .975.275 1.85t.788 1.6q.512.725 1.262 1.25T8 16.45V20Zm2.5-4.25h3l-1.5-3l-1.5 3ZM8.5 13q.825 0 1.413-.588T10.5 11q0-.825-.588-1.413T8.5 9q-.825 0-1.413.588T6.5 11q0 .825.588 1.413T8.5 13Zm7 0q.825 0 1.413-.588T17.5 11q0-.825-.588-1.413T15.5 9q-.825 0-1.413.588T13.5 11q0 .825.588 1.413T15.5 13ZM8 20v-3.55q-.925-.225-1.675-.75t-1.263-1.25q-.512-.725-.787-1.6T4 11q0-3.125 2.212-5.062T12 4q3.575 0 5.788 1.938T20 11q0 .975-.275 1.85t-.788 1.6q-.512.725-1.25 1.25T16 16.45V20H8Z"/></svg>
							</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="btn-holder">
		<button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanSetup" aria-controls="offcanSetup">How do I set this up?
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11.95 18q.525 0 .888-.363t.362-.887q0-.525-.362-.888t-.888-.362q-.525 0-.887.363t-.363.887q0 .525.363.888t.887.362Zm-.9-3.85h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.313.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825ZM12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Z"/></svg>
		</button>
	</div>

	<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanSetup" aria-labelledby="offcanSetupLabel">
		<div class="offcanvas-header center">
			<h3 class="offcanvas-title" id="offcanSetupLabel">Setting Up PlotlyShare</h3>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body text-center">
			<p> To use this utility, you need to install the python package <code>plotlyshare</code> (<a href="https://github.com/plutonium-239/plotlyshare">link</a>).
				Run this in your console: <code>python -m plotlyshare setup</code>
				And paste these values when asked for (these are private to you):</p>
			<div class="container text-center">
				<div class="row justify-content-center align-items-center">
					<div class="col">DETA_APP_URL</div>
					<div class="col">
						<code id="DETA_APP_URL">{{ url_for('show_all', _external=True) }}</code>
					</div>
					<div class="col">
						<button class="btn btn-outline-info custom-clipbtn" onclick="copyToClipboard('DETA_APP_URL')"> 
							<svg class="svg-uncheck" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-7 0a1 1 0 0 1 1 1a1 1 0 0 1-1 1a1 1 0 0 1-1-1a1 1 0 0 1 1-1M7 7h10V5h2v14H5V5h2v2Z"/></svg>
							<svg class="svg-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10 17l-4-4l1.41-1.41L10 14.17l6.59-6.59L18 9m-6-6a1 1 0 0 1 1 1a1 1 0 0 1-1 1a1 1 0 0 1-1-1a1 1 0 0 1 1-1m7 0h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Z"/></svg>
						</button>
					</div>
				</div>
				<div class="row justify-content-center align-items-center">
					<div class="col">DETA_PROJECT_KEY</div>
					<div class="col">
						<code id="DETA_PROJECT_KEY">{{ deta_prj_key }}</code>
					</div>
					<div class="col">
						<button class="btn btn-outline-info custom-clipbtn" onclick="copyToClipboard('DETA_PROJECT_KEY')"> 
							<svg class="svg-uncheck" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-7 0a1 1 0 0 1 1 1a1 1 0 0 1-1 1a1 1 0 0 1-1-1a1 1 0 0 1 1-1M7 7h10V5h2v14H5V5h2v2Z"/></svg>
							<svg class="svg-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10 17l-4-4l1.41-1.41L10 14.17l6.59-6.59L18 9m-6-6a1 1 0 0 1 1 1a1 1 0 0 1-1 1a1 1 0 0 1-1-1a1 1 0 0 1 1-1m7 0h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Z"/></svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
				<div class="toast-body" id="authToast">
				</div>
				<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div>

	{% if deta_prj_key == "d0jtJXqwnHjE_ncFAJpX61B6FQi8acs6EHwRtvCgFHi1E" %}
		<div class="modal fade" id="stopUsingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title text-danger" id="staticBackdropLabel">Notice - This URL will no longer be active.
							Please make your own <a href="https://deta.space">deta.space</a> account and <a href="https://deta.space/discovery/@pu239/plotlyshare">install plotlyshare</a>.
						</h2>
					</div>
					<div class="modal-body">
						<h4 class="text-bg-danger p-2 rounded text-center">This instance of plotlyshare has been acting as a demo for 6 months, and will start deleting content more than 1 week old.</h4>
						This instance was never supposed to be used by 300+ people, and because of a mistake while publishing to pypi, my API key and development instance URL (i.e. this page) became public. Plotlyshare is supposed to be self-hosted.

						Please make your own account on <a href="https://deta.space">deta.space</a> and host a private instance of plotlyshare by following the instructions written in the readme and everywhere else. 

						To reduce my account storage and still keep this functioning as a demo, I will set items to auto-delete after a week.
					</div>
					<div class="modal-footer">
						<a role="button" href="https://deta.space" class="btn btn-primary">Open Deta Space</a>
						<a role="button" href="https://deta.space/discovery/@pu239/plotlyshare" class="btn btn-primary">Install PlotlyShare</a>
						<button type="button" data-bs-dismiss="modal" class="btn btn-success">Understood.</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" defer>
			var myModalEl = document.querySelector('#stopUsingModal')
			var modal = bootstrap.Modal.getOrCreateInstance(myModalEl) // Returns a Bootstrap modal instance
			modal.show()
		</script>
	{% endif %}

	<script>
		function copyToClipboard(input_id) {
			var copyText = document.getElementById(input_id);
			navigator.clipboard.writeText(copyText.textContent);
		}
	</script>
</div>
{% endblock %}