@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-base-100 text-primary overflow-x-hidden cursor-crosshair;
}

body {
	font-family: var(--selected-font, 'Cascadia Mono');
}

.time-hide-lg {
	@apply max-lg:hidden overflow-hidden whitespace-nowrap text-ellipsis;
}

/* .js-plotly-plot .plotly [data-title]::before, .js-plotly-plot .plotly [data-title]::after {
	top: 200%;
} */

.js-plotly-plot .plotly .modebar-btn {
	@apply inline-block
}

:root {
	--svoast-bg: oklch(var(--b3) / 0.8);
	/* --svoast-text: oklch(var(--b3c) / 1); */
	--svoast-info-colour: oklch(var(--in) / 1);
	--svoast-attention-colour: oklch(var(--a) / 1);
	--svoast-success-colour: oklch(var(--su) / 1);
	--svoast-warning-colour: oklch(var(--wa) / 1);
	--svoast-error-colour: oklch(var(--er) / 1);
}

::selection {
	background-color: #9381ff;
	color: oklch(var(--ac));
}